*{
    margin: 0;
    padding: 0;
    
}
:root{

}

.cabecalho{
background-color: blue;
padding: 50px;
}
 .corpo{
background-color: black(255,255,255)
 }
  .footer{
background-color: aqua;
 padding: 25px; ;
}

.boton{
position: fixed;
top: 20px; ;
left: 20px; ;
padding: 10px 20px; 
background-color: black;
color: blue;
text-decoration: none;
border-color: aquamarine;
}
.boton:hover{
 background:linear-gradient(to right,#fff,#fff,#fff);
}
.boton:active{
  font-size: 15px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grap: 10px
  width: 500px;
  margin: auto;
} 

img{
  width: 100%
  heigth: 500px;
  object-fit: cover;
}



